<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Farmacia</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ExibirMedicamentoController</display-name>
		<servlet-name>ExibirMedicamentoController</servlet-name>
		<servlet-class>br.com.farmacia.controller.ExibirMedicamentoController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExibirMedicamentoController</servlet-name>
		<url-pattern>/ExibirMedicamentoController.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditarMedicamentoController</display-name>
		<servlet-name>EditarMedicamentoController</servlet-name>
		<servlet-class>br.com.farmacia.controller.EditarMedicamentoController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditarMedicamentoController</servlet-name>
		<url-pattern>/EditarMedicamentoController.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>br.com.farmacia.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>br.com.farmacia.controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/LogoutController.do</url-pattern>
	</servlet-mapping>
</web-app>